.about-me{
    margin-top: 50px;
    height: 1fr;
    border: 2px solid black;
    border: 1px solid black;
    border-color: black;
    height: auto;
    padding: 30px;
    display: grid;
    gap: 10px;
}
.about-me h3 {
    font-size:25px;
}
.about-me h1 {
    font-size:60px;
}
.about-me .button {
    border: 3px solid black;
    padding: 10px;
    width: 170px;
    border-radius: 5px;
    background-color: bisque;
    cursor: pointer;
    font-size: 25px;

}
.about-me .button:hover {
    background-color: brown;

}
.about-me .icon img {
    width: 50px;
}
.social-media {
    display: flex;
}
    
    

.button {
    text-decoration: none;
    color: var(--secundary-color);
}
