.about-me {
    display: relative;
}
.about-me-container {
    margin-top: 50px;
    height: 1fr;
    border: 2px solid black;
    border: 1px solid black;
    border-color: black;
    height: auto;
    padding: 30px;
    display: grid;
    gap: 10px;
    position: relative;
    overflow: hidden;
}
.about-me-container h3 {
    font-size:25px;
}
.about-me-container h1 {
    font-size:60px;
}
.about-me-container .button {
    border: 3px solid black;
    padding: 10px;
    width: 170px;
    border-radius: 5px;
    background-color: bisque;
    cursor: pointer;
    font-size: 25px;

}
.about-me-container .button:hover {
    background-color: var(--primary-color);

}
.about-me-container .icon img {
    width: 50px;
}
.social-media {
    display: flex;
}
    
    

.button {
    text-decoration: none;
    color: var(--secundary-color);
}


.parallax #rocket {
    position: absolute;
    width: 300px;
    right: 0;
    top: 400px;
    z-index: -100;

}
@media (max-width: 600px) {
    .parallax #rocket {
        left: 40vw;
        top: 500px;
    }
}

.parallax #moon-img {
    position: absolute;
    width: 25%;
    top: 200px;
    left: 200px;
    z-index: -200;
    opacity: 0.6;

}

.parallax #star1 {
    position: absolute;
    width: 30px;
    top: 200px;
    left: 200px;
    z-index: -300;
    opacity: 0.6;

}

.parallax #star2 {
    position: absolute;
    width: 30px;
    top: 200px;
    left: 200px;
    z-index: -300;
    opacity: 0.6;

}
.parallax #star3 {
    position: absolute;
    width: 30px;
    top: 200px;
    left: 200px;
    z-index: -300;
    opacity: 0.6;

}
.parallax #star4 {
    position: absolute;
    width: 30px;
    top: 300px;
    left: 200px;
    z-index: -300;
    opacity: 0.6;

}
.parallax #star5 {
    position: absolute;
    width: 30px;
    top: 250px;
    left: 200px;
    z-index: -300;
    opacity: 0.6;

}

.parallax #star6 {
    position: absolute;
    width: 30px;
    top: 140px;
    left: 200px;
    z-index: -300;
    opacity: 0.6;

}
