.nav {
    width: 100%;
}
.nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-item1, .nav-item2, .nav-item3 {
    border: 1px;
    padding: 10px;
}
.nav-item2 {
    text-align: center;
}
.nav-item3 {
    text-align: right;
    padding-right: 20px;
    padding-left: 300px;
}
.nav-item3 img {
    text-align: right;
    display: block;
    width: 30px;
}
