.title-skills h3{
    text-align: center;
}


.skills {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}
.skill {
    text-align: center;
    padding: 10px;
}
.skill img {
    width: 30px;
    height: 30px;
    margin-bottom: -20px;
}