.title-skills h3{
    text-align: center;
}


.skills {
    height: auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

}
.skill {
    text-align: center;
    padding: 10px;
}
.skill img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}